* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html,body{
    background: url(https://images.pexels.com/photos/30839678/pexels-photo-30839678.jpeg);
    width: auto;
    height: auto;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    width: 100%;
    background: #2c3e50;
    padding: 15px 0;
    background: url(https://images.pexels.com/photos/19976006/pexels-photo-19976006.jpeg);
    background-position: 50%;
   background-repeat: no-repeat;
    background-size: cover;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: rgb(16, 8, 135);
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ea9918;
}

.header {
    text-align: center;
    padding: 50px;
    background:url(https://images.pexels.com/photos/34405373/pexels-photo-34405373.jpeg);
    background-position: 100%;
    background-size: cover;
    background-attachment: fixed;

}

.header h1 {
    font-size: 40px;
    color: #2c3e50;
}


.container {
    width: 80%;
    margin: 40px auto;
    font-size: 18px;
    line-height: 1.7;
    color: rgba(12, 13, 13, 0.943);

   
}

form {
    width: 350px;
    padding: 5px;
    margin: auto;
    border-radius: 10px;
    position-area: unset;
    
    
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(103, 188, 221, .6);
    color: #011d0a;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    color: #050506;
    background-color: rgb(111, 222, 143);
}

form button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #254a70;
    color: rgb(13, 1, 1);
    font-size: 18px;
    cursor: pointer;
}

form button:hover {
    background: #f39c12;
}
.logo{
    display: flex;
    font-size: xx-large;
    background: url(https://images.pexels.com/photos/5475750/pexels-photo-5475750.jpeg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}